@media only screen and (min-width: 1920px) {

  .carrusel{
    margin: 0%;
    padding: 0%;
  }
  .icontel{
        width: 16px;
        height: 16px;
       
           }
    .telefono{
    font-size: 125%;
  }
  
  .redes{ 
    margin-left: 200px;
     margin-top: -10x;}
  
    .googlemap{
      width: 700px;
      height: 550px;
  
    }
  .menunav{ 
    margin: 0%;
  padding: 0%;
  font-size: 200%;
  margin-left: 55px !important;
  }
  
    .pandita{
  height: 45px;
    }
  
  
  }
// Responsive PC 1920p
@media only screen and (max-width: 1920px) {

.carrusel{
  margin: 0%;
  padding: 0%;
}
.icontel{
      width: 16px;
      height: 16px;
     
         }
  .telefono{
  font-size: 125%;
}

.redes{ 
  margin-left: 200px;
   margin-top: -10x;}

  .googlemap{
    width: 700px;
    height: 550px;

  }
.menunav{ 
  margin: 0%;
padding: 0%;
font-size: 200%;
margin-left: 55px !important;
}

  .pandita{
height: 45px;
  }


}
// Responsive PC 1080 
@media only screen and (max-width: 1080px) {
  
  .redes{
    text-align: start;
    margin-left: 350px;
    margin-top: -45px;
  }
   .telefono{ 
     font-size: 125%;
     margin-right: -150px;
     .icontel{
       width: 16px;
       height: 16px;
      
          }
   }
 }
  .icontel{
    width: 16px;
    height: 16px;
   
       }

  .menunav{ 
    margin: 0%;
  padding: 0%;
  font-size: 100%;
  margin-left: 55px !important;
  }
  // Responsive PC 768 
@media only screen and (min-width: 768px) {

.redes{margin-top: -45px;}
 }
// Responsive PC 768 
@media only screen and (max-width: 767px) {

 .googlemap{
   width: 450px;
   height: 550px;
 }
 .redes{
  text-align: start;
  margin-left: 350px;
  margin-top: -45;
}
 .telefono{ 

   font-size: 125%;
   margin-right: 350px;
}
}
  // Responsive PC 420 
  @media only screen and (max-width: 420px) {
    .redes{ 
      margin-left: 200px;
       margin-top: -10x;}
       .telefono{ 
         font-size: 125%;
         margin-right: 150px;
       }
         .icontel{
           margin-top: -3px;
           width: 16px;
         height: 16px;
         }

    .googlemap{
      width: 400px;
      height: 550px;
    }
  .vermenuimg{
    width: 400px;
  }
  .menunav{ 
    margin: 0%;
    padding: 0%;
    font-size: 200%;
    margin-left: 55px !important;
  }
  }
    // Responsive PC 320
  @media only screen and (max-width: 320px) {
    .vermenuimg{
    width: 250px;
    }
    .topcel{
     margin-left: -120px;
     }
     .redes{
     margin-left: 150px;
     margin-top: -40px;
     }
    }
    
// FIN RESPONSIVE




* {
   text-align: center;
}

body {
  margin: 0%;
  padding: 0%;
  background: black;
}
.navbar {
  background: white;
}
.nav-link {
  color: white;
}

footer {
  margin-top: 5%;
  background: black;
}
// Textos
p {
  color: white;
}
h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
article {
  color: white;
}
// Transformaciones
aside{
  height: 30px;
}
aside {
  height: 30px;
  .redes {
    letter-spacing: 15px;
  }
  %redes {
    transform: scale(2.3);
  }
  .face:hover {
    @extend %redes;
  }
  .insta:hover {
    @extend %redes;
  }
  .whap:hover {
    @extend %redes;
  }
}


.telefono{
  font-size: 125%;
}

aside{
  background: black;
}